---
import { Image } from 'astro:assets'
import {profile} from '@/settings'
import SocialIcons from './SocialIcons.astro'
import ProfilePictures from '@/assets/profile_pictures.jpg'
import { getCollection } from 'astro:content'
import { template } from '@/settings'

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)

const {fullName, title, shortName} = profile
---
<aside
	class='px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col'
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div>
			<div class='flex justify-center items-center flex-col px-4 py-10 lg:px-0 lg:py-0'>
						<Image
							class='mask mask-circle size-40 mb-2'
							src={ProfilePictures}
							alt={`Profile picture of ${fullName}`}
						/>
						<h1 class="text-lg font-black mt-4 text-center"><span>{shortName}</span></h1>
						<p class="text-sm text-center text-base-content/70">{profile.slogan}</p>
					</div>
					
			<div class='mx-4 mt-4'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
					<li>
                        <a href={`${template.base}/`} class='text-lg'>Home</a>
					</li>
					<li>
                        <a href={`${template.base}/antisemitism-and-the-tribe/1`} class='text-lg'>Antisemitism and the Tribe</a>
					</li>
					<li>
                        <a href={`${template.base}/publications`} class='text-lg'>Publications</a>
					</li>
					<li>
                        <a href={`${template.base}/cv`} class='text-lg'>CV</a>
                    </li>
					<li>
						<a href={`${template.base}/blog/1`} class='text-lg'>Blog</a>
					</li>				</ul>
			</div>
		</div>
		<div class='mx-4'>
			<SocialIcons/>
		</div>
	</div>
</aside>
