---
import { isSkill } from '@/types/cv';
import type { Skill, Publication } from '@/types/cv';
import { highlightAuthor, slugify } from '@/lib/utils'

interface Props {
	elements: (Skill | Publication)[]
}

const { elements } = Astro.props
---
<ul class='space-y-8 list-none custom-publication-list ml-10 mr-10'>
  {elements.map((element, index) => (
    <li 
    class='group custom-publication-item' 
    id={slugify(element.title)}
    style={!isSkill(element) && (element as Publication).coverImage 
      ? `--cover-image: url(${(element as Publication).coverImage})` 
      : ''}
    >
      { isSkill(element)
        ? <>
        <h3 class='text-lg font-bold mb-2'>{element.title}</h3>
        <p>{element.description}</p>
        </> : <>
      <a
        href={element.link as string}
        class='block hover:text-accent transition-colors duration-200'
        target='_blank'
      >
        <h3 class='text-lg font-bold mb-2'>{element.title}</h3>
      </a>
      <p class='text-base mb-2'>
        <span class='font-medium'>Authors:</span>{' '}
        <span
          set:html={highlightAuthor(element.authors as string)}
        />
      </p>
      <p class='text-sm mb-3'>
        <span class='italic'>{element.journal}</span> {' '}
        {element.time}
      </p>
      <p>{element.abstract}</p>
      <div class="card-actions justify-end mt-4">
        <a href={element.link} class="btn btn-sm btn-secondary text-secondary-content">
          Buy Book
        </a>
      </div>
      </>
    }
    {/* Uncomment this line to add a small border bottom for each element
    {index !== elements.length -1 && <hr class="mt-6 border-primary/40" />}  */}
    </li>
  ))}
</ul>

<style>
  .custom-publication-list > .custom-publication-item {
    position: relative;
    padding-left: 11em; /* Adjusted for 10em image width + 1em spacing */
    margin-right: -2em; 
  }

  .custom-publication-list > .custom-publication-item::before {
    content: '';
    position: absolute;
    left: -3em; /* Adjusted to pull image further left */
    top: -0.2em; /* Adjusted for vertical alignment with title */
    width: 13em;  /* Desired image width */
    height: 17em; /* Desired image height */
    background-image: var(--cover-image, url('/src/assets/Gateway-to-the-kabbalah-cover.png'));
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>